/* Navigation Bar Code Starts Here */
* {
    margin: 0px;
}


.newInfo {
    border-bottom: 1px #DDDDDD solid;
}

.newInfo:hover {
    text-decoration: none;
    border-bottom: 2px white solid;
}

.navTopLine {
    background-color: rgb(248, 43, 96);
    text-align: center;
    height: 15px;
    width: 100%;
    color: white;
    justify-items: center;
    padding: 14px;
    font-size: 16px;
}

.nav p:hover {
    color: gray;
    cursor: pointer;
}

.nav {
    display: flex;
    background: white;
    height: 70px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 2px #DDDDDD solid;
}

.airtableLogo {
    padding-top: 20px;
    margin-left: 100px;
    margin-right: 0px;

}

.navContent {
    padding: 27px 20px;
}

.pricingLink {
    flex-grow: 3;
}

.signupLink {
    height: 20px;
    width: 120px;
    border-radius: 20px;
    background-color: #2D7FF9;
    padding: 7px;
    text-align: center;
    color: white;
}

.signupLink p:hover {
    color: white;
}

.signupCss .signupLink:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.signupCss {
    margin-top: 20px;
    margin-right: 100px;
}

/* Navigation Bar Code Ends Here */

/* Footer Code Starts Here  */

.footer {
    display: grid;
    margin: 5%;
    margin-top: 0%;
    grid-template-rows: 110px 110px;
    grid-template-columns: repeat(5, 1fr);
    padding: 10px;
    height: 300px;
}


a {
    text-decoration: none;
    border-bottom: 2px #DDDDDD solid;
    font: 50px;
    padding: 2px;
    color: #444444;
}

.footer a:hover {
    text-decoration: none;
    border-bottom: 2px #444444 solid;
}



.setSpace {
    margin: 10px;
}

.footerDiv0 {
    grid-row: 1/3;
    grid-column: 1/2;
}

.footerDiv1 {
    grid-row: 1/3;
    grid-column: 2/3;
}

.footerDiv2 {
    grid-row: 1/3;
    grid-column: 3/4;
}

.footerDiv3 {
    grid-row: 1/3;
    grid-column: 4/5;
}

.footerDiv4 {
    grid-row: 1/3;
    grid-column: 5/6;
}

/* Footer Code Ends Here  */

#automation {
    width: 100%;
    height: 550px;
    margin: 5px;
    /*border: 1px solid red;*/
}

.div {
    width: 60%;
    height: 500px;
    float: left;
    /*border: 1px solid black;*/
    margin: 20px;

}

.div2 {
    width: 30%;
    height: 500px;
    float: left;
    /*border: 1px solid black;*/
    margin: 20px;

}

.a {
    float: left;
    margin: 10px;
}

.b {
    margin: auto;
    height: 600px;
    padding: 10px;
}

.p {
    width: 60px;
    height: 30px;
    background-color: #f82b60;
    font-size: 25px;
    border-radius: 25px;
    text-align: center;
    color: white;
    margin: 30px;
}

.h2 {
    font-size: 40px;
    margin: 25px;
    color: rgb(0, 0, 20);
}

.p1 {
    font-size: 20px;
    margin: 20px;
    color: rgb(0, 0, 20);
}

#integrate {
    width: 100%;
    height: 500px;
    margin: 5px;
    /*border: 1px solid red;*/
}

.just {
    width: 25%;
    height: 450px;
    /*border: 1px solid black;*/
    float: left;
    margin: 20px;
}

.hig {
    margin: 20px;
    font-size: 50px;
}

.to {
    margin: 20px;
    font-size: 20px;
}

.button {
    margin: 20px;
    font-size: 25px;
    color: blue;
}

.col {
    width: 800px;
    height: 450px;
    /*border: 1px solid black;*/
    float: left;
    margin: 20px;
}

.col1 {
    padding: 50px;
    margin: 30px
}

#interconnect {
    width: 100%;
    height: 550px;
    margin: 5px;
    /*border: 1px solid red;*/
}

.img1 {
    margin-left: 60px;
    float: left;
    padding: 20px;

}

.div1 {
    width: 25%;
    height: 300px;
    /*border: 1px solid rebeccapurple;*/
    float: left;
    margin: 100px;
    color: rgb(0, 0, 20);

}

#collaborate {
    width: 100%;
    height: 500px;
    margin: 5px;
    /*border: 1px solid red;*/
}

.just1 {
    width: 25%;
    height: 450px;
    /*border: 1px solid black;*/
    margin: 15px;
    float: left;
}

.img {
    float: left;
    margin: 15px;
    width: 70%;
    height: 450px;
    /*border: 1px solid black;*/
}

.h3 {
    font-size: 40px;
    margin: 10px;
    color: rgb(0, 0, 20);
}

.page {
    margin: 15px;
    font-size: 20px;
}

#build {
    width: 100%;
    height: 400px;
    margin: 5px;
    background-color: blue;
}

.flex {
    width: 70%;
    height: 300px;
    /*border: 1px solid black;*/
    margin: auto;
    text-align: center;
    padding: 10px;
}

.h4 {
    color: white;
    text-align: center;
    margin: 30px;
    font-size: 50px;
}

.p2 {
    width: 500px;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 15px;
    margin: auto;
    padding: 50px;
}

.button1 {
    background-color: white;
    /*border: 1px solid red;*/
    border-radius: 5px;
    font-size: 40px;
    color: blue;
}