#parent{
    width: 100%;
    height: 750px;
    border: dashed rgb(7, 103, 247);
    background-color: rgb(7, 103, 247);
}

body{
    background-color:  rgb(7, 103, 247);
}

#signup{
    font-family: Helvetica,Arial,sans-serif; 
    width: 30%;
    height: 85%;
    margin: auto;
    margin-top: 3%;
    border: dashed rgb(7, 103, 247);
}

#signup img{
    width: 9%;
    margin-top: 1%;
    margin-left: 10%;
    float: left;
}

#signup #heading{
    font-size: 45px;
    float: left;
    font-weight: 600;
    color: white;
    margin-top: 1%;
    margin-left: 3%;
}

#gap{
    height: 9%;
}

#main{
    width: 90%;
    height: 60%;
    margin: auto;
    text-align: left;
    color: rgb(112, 110, 110);
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}

#non{
    visibility: hidden;
}

.landr{
    float: left;
    width: 43%;
    margin-left: 5%;
}

.landr p{
    margin-left: 4%;
}

.landr input{
    width: 85%;
    height: 30px;
    border-radius: 5px;
    border: grey;
    margin-left: 4%;
    background-color: lightgrey;
}

.landr input:focus{
    border: grey;
}

.eandp{
    float: left;
    width: 90%;
}

.eandp p{
    margin-left: 10%;
}
.input{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    border: grey;
    margin-left: 10%;
    background-color: lightgrey;
}

#signup button{
    width: 82%;
    height: 35px;
    border: grey;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 9%;
    background-color: rgb(158, 153, 153);
    color: rgb(49, 47, 47);
}

#main #gap1{
    height: 10%;
    width: 80%;
    float: left;
    /* border: dashed red; */
}

#google{
    width: 72%;
    height: 8%;
    margin: auto;
    margin-top: 3%;
    border: 2px solid lightgrey;
    border-radius: 5px;
    background-color: white;
}

#google img{
    width: 8%;
    height: 70%;
    margin-top: 2%;
    margin-left: 20%;
    float: left;
}

#google p{
    float: left;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    margin-top: 3%;
    margin-left: 5%;
}

footer{
    color: silver;
    font-size: 12px;
    margin-left: 14%;
    margin-top: 1%;
}

footer+p{
    color: silver;
    font-weight: 600;
    margin-left: 14%;
}

p+a{
    color: white;
    font-weight: 600;
    margin-left: 14%;
}